* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-row {
    display: flex;
    gap: 20px;
}

.text-area-container {
    flex: 1;
}

.edit-area-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-area-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-height: 150px;
    resize: none;
    overflow: auto;
    outline: none;
    white-space: pre-wrap;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

#notification {
    color: #fff;
    font-weight: bold;
    display: none;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }
    .edit-area-header button {
        margin-top: 10px; /* Extra space for button in mobile view */
    }
}
